{% extends "base.html" %}
{% block content %}

<fieldset>
    <div class="container" xmlns="http://www.w3.org/1999/html">

        <h1 id="login_title"><strong>Login</strong></h1>
            <form method="POST"  class="login_form">
                {{ form.hidden_tag() }}
                <span class="login_username">
                    {{ form.username.label }} {{ form.username(class_="form-control") }}
                </span>
                <ul>
                    {%for error in form.username.errors %}
                        <li style="color: red">{{error}}</li>
                    {%endfor%}
                 </ul>
                    <span class="login_pass">
                        {{ form.password.label }} {{ form.password(class_="form-control") }}
                    </span>
                <ul>
                    {%for error in form.password.errors %}
                        <li style="color: red">{{error}}</li>
                    {%endfor%}
                </ul>
                    <span class="login_submit">
                        {{ form.submit() }}
                    </span>
                </form>
    </div>
</fieldset>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert alert-success" role="alert">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor%}
            </ul>
        {% endif %}
{% endwith %}
{% endblock content %}