{% extends "base.html" %}
{% block content %}

<fieldset>
    <div class="container" xmlns="http://www.w3.org/1999/html">

            <form method="POST" class="register_form">
                <h1 id="reg_title"><strong>Registration form</strong></h1>
                {{ form.hidden_tag() }}
                {{ form.firstname.label }} {{ form.firstname(class_="form-control") }}
                <br>
                {{ form.lastname.label }} {{ form.lastname(class_="form-control") }}
                <br>
                {{ form.username.label }} {{ form.username(class_="form-control") }}
                <br>
                {{ form.password.label }} {{ form.password(class_="form-control") }}
                <ul>
                    {%for error in form.password.errors %}
                        <li style="color: red">{{error}}</li>
                    {%endfor%}
                 </ul>
                {{ form.Repassword.label }} {{ form.Repassword(class_="form-control") }}
                <ul>
                    {%for error in form.Repassword.errors %}
                        <li style="color: red">{{error}}</li>
                    {%endfor%}
                 </ul>
                <br>
                {{ form.email.label }} {{ form.email(class_="form-control") }}
                <ul>
                    {%for error in form.email.errors %}
                        <li style="color: red">{{error}}</li>
                    {%endfor%}
                 </ul>
                    <span class="submit-button-login">
                        {{ form.submit() }}
                    </span>
            </form>
    </div>
</fieldset>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert alert-success" role="alert">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor%}
            </ul>
{% endif %}
{% endwith %}
{% endblock content %}